.add-movie-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 30%;
}

.add-movie-container {
    display: flex;
    justify-content: center;
}

button {
    z-index: 100;
    
}