.button {
    background-color:#559999;
    border: 2px solid #115566;
    color: white;
    font-weight: 600;
    padding: 5px 5px;
}

.button:active {
    background-color: 	#115566;
}

html {
    font-family: Heebo;
    background-color: #fff;
}

body {
    background-color: #88cccc;
    border-radius: 10px;
    border: 2px solid #115566;
    box-shadow: 2px 2px 20px;
    height: 100vw;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    align-self: center;
    align-content: center;
    flex-direction: column;
    max-width: 385px;
}

h1, h2, h3 {
    text-align: center;
    color: #115566;
    margin-bottom: 5px;
}

h3 {
    margin-top: 15px;
}

h2 {
    font-size: 1rem;
    margin: 2px 10px 20px 10px;
}

p {
    margin: 2px 2px;
    color: #115566;
}

.display-buttons {
    display: flex;
    justify-content: space-around;
    max-width: 385px;
    align-self: center;
}

#add-movie-button, #pick-movie-button {
    margin: 15px 0px;
}

.NavHead {
    display: flex;
    flex-direction: column;
}