.add-movie-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
}

.add-movie-container {
    display: flex;
    justify-content: center;
}